.navMenuSection {
  width: 100vw;
  background: #fff;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
}

.navMenuContainer {
  padding-top: 90px;
  width: 100%;
  height: 100%;
  animation: fadeInTop 1s;
}

.menuList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.listItemContainer {
  width: 100%;
  text-align: right;
}

.listItemContainer a {
  display: block;
  text-decoration: none;
  padding: 2.5rem 3rem;
  font-size: 1.1rem;
  color: #000;
  text-align: right;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  letter-spacing: 2px;
  transition: color 0.3s;
}

.listItemContainer a:hover {
  color: #6187cc;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
